/* CSS-комментарий: Этот селектор применяет стили ко всем элементам с классом "modal". */
.modal {
    /* Эти стили позиционируют модальное окно по центру экрана. */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Это устанавливает размер модального окна. */
    width: 60%;

    /* Это устанавливает высоту модального окна. */
    height: 60%;

    /* Это устанавливает цвет фона и рамки. */
    background-color: white;
    border: 3px solid #888;

    /* Это добавляет тень для эффекта "всплывающего" окна. */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    /* Это добавляет отступы внутри модального окна. */
    padding: 20px;
}

.modal-content {
    padding-top: 50px; /* Эта строка была добавлена */
    border: none;
}

/* Этот селектор применяет стили ко всем элементам с классом "close". */
.close {
    /* Эти стили позиционируют кнопку закрытия в правом верхнем углу модального окна. */
    position: absolute;
    top: 0px;
    left: 5px;

    /* Это устанавливает размер текста кнопки закрытия. */
    font-size: 30px;

    /* Это делает текст кнопки закрытия полужирным. */
    font-weight: bold;

    /* Это изменяет цвет текста кнопки закрытия при наведении. */
    color: #aaa;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.my-header {
  margin-bottom: 20px;  /* Устанавливаем отступ снизу */
  margin-top: 30px;  /* Устанавливаем отступ снизу */
}