<!--шаблон страницы с созданием рассылок-->
{% extends "base.html" %}

{% block content %}
        <h1>Create Mailing</h1>

    <button id="openModal" class="btn btn-primary">Create Mailing</button>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="create-mailing-form">
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" name="subject">
                </div>
                <div class="form-group">
                    <label for="template">Template</label>
                    <select class="form-control" id="template" name="template">
                        <option value="general">General</option>
                        <option value="promotions">Promotions</option>
                        <option value="birthday">Birthday</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="delay">Delay (seconds)</label>
                    <input type="number" class="form-control" id="delay" name="delay" min="0">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" name="content"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <script>
    $(document).ready(function() {
        var modal = $('#myModal');
        var btn = $("#openModal");
        var span = $(".close");


        btn.click(function() {
            modal.show();
        });

        span.click(function() {
            modal.hide();
        });

        $(window).click(function(event) {
            if (event.target == modal) {
                modal.hide();
            }
        });

        $("#create-mailing-form").submit(function(e) {

            e.preventDefault();

            var subject = $("#subject").val();
            var content = $("#content").val();
            var template = $("#template").val();
            var delay = $("#delay").val();

            var url;
            if (template === "birthday") {
                url = "/create-mailing/birthday";
            } else {
                url = "/create-mailing/general";
            }

            $.ajax({
                type: "POST",
                url: url,
                contentType: 'application/json',
                data: JSON.stringify({
                    subject: subject,
                    content: content,
                    template: template,
                    delay: delay
                }),

                success: function() {
                    alert("Mailing created successfully!");
                    modal.hide();
                },
                error: function() {
                    alert("Failed to create mailing.");
                }
            });
        });
    });

    </script>

{% endblock %}
